In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('HR Employee Survey Responses.xlsx')
df.head()

,Response ID,Status,Department,Director,Manager,Supervisor,Staff,Question,Response,Response Text
0,1,Complete,Human Resources,0,1,0,0,1. I know what is expected of me at work,4.0,Strongly Agree
1,2,Complete,Communications Office,0,0,0,0,1. I know what is expected of me at work,4.0,Strongly Agree
2,3,Complete,Parks and Recreation,0,1,0,0,1. I know what is expected of me at work,0.0,Not Applicable
3,4,Complete,Human Resources,0,1,0,0,1. I know what is expected of me at work,3.0,Agree
4,5,Complete,Communications Office,0,0,0,0,1. I know what is expected of me at work,0.0,Not Applicable

In [3]:
df.dtypes

Response ID        int64
Status            object
Department        object
Director           int64
Manager            int64
Supervisor         int64
Staff              int64
Question          object
Response         float64
Response Text     object
dtype: object

In [4]:
df.isnull().sum()

Response ID        0
Status             0
Department         0
Director           0
Manager            0
Supervisor         0
Staff              0
Question           0
Response         135
Response Text    135
dtype: int64

In [5]:
df['Response'].fillna(df['Response'].median(), inplace=True)

In [6]:
df.fillna('Not Available', inplace=True)

In [7]:
df['Status'] = df['Status'].astype('category')
df['Question'] = df['Question'].astype('str')
df['Response'] = df['Response'].astype(int)
df['Response Text'] = df['Response Text'].astype('category')

In [8]:
df.dtypes

Response ID         int64
Status           category
Department         object
Director            int64
Manager             int64
Supervisor          int64
Staff               int64
Question           object
Response            int64
Response Text    category
dtype: object

In [9]:
df['Question'] = df['Question'].str.replace('&', 'and', case=False)

In [10]:
df['Response ID'].duplicated().sum()

15

In [11]:
df2 = df.drop_duplicates(subset=['Response ID'])

In [12]:
df2.duplicated().sum()

0

In [13]:
df2.isnull().sum()

Response ID      0
Status           0
Department       0
Director         0
Manager          0
Supervisor       0
Staff            0
Question         0
Response         0
Response Text    0
dtype: int64

In [14]:
df2.head()

,Response ID,Status,Department,Director,Manager,Supervisor,Staff,Question,Response,Response Text
0,1,Complete,Human Resources,0,1,0,0,1. I know what is expected of me at work,4,Strongly Agree
1,2,Complete,Communications Office,0,0,0,0,1. I know what is expected of me at work,4,Strongly Agree
2,3,Complete,Parks and Recreation,0,1,0,0,1. I know what is expected of me at work,0,Not Applicable
3,4,Complete,Human Resources,0,1,0,0,1. I know what is expected of me at work,3,Agree
4,5,Complete,Communications Office,0,0,0,0,1. I know what is expected of me at work,0,Not Applicable

In [16]:
df2.dtypes

Response ID         int64
Status           category
Department         object
Director            int64
Manager             int64
Supervisor          int64
Staff               int64
Question           object
Response            int64
Response Text    category
dtype: object

In [15]:
df2.to_excel(f"HR Employee Survey Responses(Clean Set).xlsx",index=False)